body 
{
	  background-color: #CCC;
    margin: 0;
    padding: 0;
}

.fixedHeader
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
  padding-left: 15px;
  z-index: 2;
  opacity: 0.8;
  height: 70px;
}

.fixedFooter
{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:20px;
    z-index: 2;
    opacity: 0.8;
    height: 10px;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

.navigationButton 
{
    background-color: Transparent;
    border: none;
    color: wheat;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    text-decoration: none;
    border-bottom: solid 5px #414042;
    line-height: 50px;
}

.formContainer
{
    position: fixed;
    left: 28%;
    top: 100px;
    display: block;
    z-index: 5;
}

.image 
{ 
    width: 100%;
    height: auto;
    opacity: 0.5;
    z-index: -1;
}
.formTable
{
    padding: 10px;
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
    width: 600px;
    height: 440px;
}
.formTextField
{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 0px; 
    margin: 0px;
    height: 30px;
    font-size: 15px;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    opacity: 0.8;
}
.dobDropDown
{
    border: 1px solid #BDC7D8;
    height: 25px;
    width: 150px;
    font-size: 15px;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    opacity : 0.8;
}
.formLabel
{
    font-weight: bold;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}
.regbutton
{
   background: linear-gradient(#333, #080413);
   box-shadow: inset 0 1px 1px #474646;
   border: 1px solid;
   border-color: #474646 #474646 #474646;
   font-size: 19px;
   font-family: Copperplate, 'Copperplate Gothic Light', fantasy !important;
   font-weight: bold !important;
   text-rendering: optimizelegibility;
   min-width: 194px;
   padding: 7px 20px;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   
   border-radius: 5px;
   color: wheat;
   cursor: pointer;
   display: inline-block;
   letter-spacing: 1px;
   position: fixed;
   left: 43%;
   top: 560px;
   text-shadow: 0 1px 2px rgba(0,0,0,.5);
   z-index: 5;
}
.agreement
{
  position: fixed;
  left: 30%;
  top: 545px;
  z-index: 5;
}
table tr td
{ 
    text-align: center;
}

.navigationButton:hover
{
    background-color: #080413;

}
